.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
start.sh
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
virtual/
lib/
.virtual/
./virtual/
virtual
*__pycache__

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover